NEXTAUTH_SECRET=your-secret-here
NEXTAUTH_URL=https://invoices.opsorastystems.com
ADMIN_EMAIL=rajbarot@opsorastystems.com
ADMIN_PASSWORD_HASH=
SMTP_HOST=smtp.zoho.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=rajbarot@opsorastystems.com
SMTP_PASS=
NEXT_PUBLIC_APP_URL=https://invoices.opsorastystems.com
DATABASE_URL=file:./data/db.sqlite
